---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';

interface Props {
  project: CollectionEntry<'projects'>;
}

const { project } = Astro.props;
const { title, platform, type, assets: _, url } = project.data;

const projectDescription = `${platform} ${type.join('/')} project - ${title}`;
---

<style>
  .project-wrapper {
    cursor: pointer;
    background: transparent;
    transition: background 185ms;

    &:hover {
      background: rgba(255, 255, 255, 0.05);
      .project-img {
        scale: 1;
        filter: none;
      }
    }
  }

  .preview {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(120deg, var(--color-red), var(--color-primary));
  }

  .project-img {
    width: 100%;
    height: auto;
    scale: 1.125;
    filter: grayscale(0.3) opacity(0.8);
    transition:
      scale 185ms ease-in-out,
      filter 185ms;
  }

  .project-title {
    display: block;
    margin-block: 0.25rem;
    text-decoration: none;
    font-size: var(--text-size);
    font-weight: var(--weight-bold);
    line-height: var(--line-height-semi-tight);
    text-transform: uppercase;
    color: var(--color-text);
  }

  .project-meta {
    padding-block-end: 1rem;
    font-size: var(--text-xsmall);
    font-weight: var(--weight-regular);
    line-height: var(--line-height-tight);
    text-transform: capitalize;
    text-align: center;
    color: var(--color-text);

    .meta-sep {
      color: var(--color-text);
      font-size: var(--text-xxsmall);
      font-weight: var(--weight-semibold);
    }
  }
</style>

<div class="project-wrapper">
  <div class:list={['preview', platform]}>
    <Image
      class="project-img"
      width={500}
      height={500}
      src=`https://placedog.net/500?random&${Math.floor(Date.now() * Math.random())}`
      alt={projectDescription}
    />
  </div>
  <div class="project-meta">
    <a href={url ?? '#'} class="project-title">{title}</a>
    {platform}
    <span class="meta-sep">/</span>
    {type.join(', ')}
  </div>
</div>
