---
import type { CollectionEntry } from 'astro:content';
import ProjectDetailVideo from './ProjectDetailVideo.astro';

interface Props {
  id: string;
  project: CollectionEntry<'projects'>;
}

const { project, id } = Astro.props;
const {
  title,
  assets: _,
  type,
  platform,
  tech,
  role,
  url: _url,
  featureVideo,
} = project.data;

let joinedProjectType =
  platform === 'library' ? platform : `${platform} ${type.join('/')}`.toLowerCase();

// Desktop Site sounds weird and unnatural, so lets make it more natural
if (joinedProjectType === 'desktop site') {
  joinedProjectType = 'Website';
}

const { Content } = await project.render();
---

<style>
  .dialog-wrapper {
    position: absolute;
    inline-size: 0;
    block-size: 0;
    inset: 0;
  }

  .project-dialog {
    box-sizing: border-box;
    block-size: 100%;
    inline-size: 100%;
    border: 0;
    opacity: 0;
    padding: 1rem 4rem;
    overflow-y: scroll;
    background: transparent;
    transition: opacity 200ms;

    &:focus {
      outline: none;
    }

    &::backdrop {
      opacity: 0;
      background: var(--color-bg);
      transition: opacity 200ms;
    }

    &.active {
      opacity: 1;
      transition: opacity 200ms 200ms;

      &::backdrop {
        opacity: 1;
      }
    }
  }

  .project-dialog::backdrop {
    background: var(--color-bg);
  }

  .project-dialog[open]::backdrop {
    animation: backdrop-fade-in 180ms ease-in forwards;
  }

  .dialog-controls {
    position: absolute;
    inset-inline-start: 1rem;
    inset-block-start: 1rem;
  }

  .dialog-close-btn {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .close-icon {
    position: relative;
    display: block;
    block-size: 2rem;
    inline-size: 2rem;

    &::before,
    &::after {
      content: '';
      position: absolute;
      height: 100%;
      width: 0.2rem;
      background-color: var(--color-text);
      transition: transform 200ms;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:hover {
      &::before {
        transform: rotate(-45deg);
      }

      &::after {
        transform: rotate(45deg);
      }
    }
  }

  .dialog-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    block-size: 100%;
    max-block-size: 100%;
  }

  .content-column {
    margin-block-start: 1rem;
  }

  .preview-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-block-size: 80%;
    inline-size: 100%;
  }

  .project-header {
    margin-block-end: 1rem;

    h1 {
      margin-block-end: 0.5rem;
    }

    .project-meta,
    .project-tech {
      box-shadow: inset 0.125rem 0px var(--color-light);
      padding-inline-start: 0.5rem;
    }
  }

  .project-meta {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0.25rem;
    margin: 0;
    font-size: var(--text-xsmall);
    font-weight: var(--weight-base);
    line-height: var(--line-height-semi-tight);
    color: var(--color-light);
    text-transform: capitalize;
  }

  .project-tech {
    margin: 0;
    font-size: var(--text-xsmall);
    font-weight: var(--weight-base);
    line-height: var(--line-height-semi-tight);
    color: var(--color-light);
    text-transform: capitalize;
  }
</style>

<project-dialog id={id} class="dialog-wrapper">
  <dialog class="project-dialog" aria-modal="true">
    <nav class="dialog-controls">
      <button class="dialog-close-btn" data-close-modal>
        <span class="visually-hidden">Close dialog</span>
        <i class="close-icon" aria-hidden="true"></i>
      </button>
    </nav>

    <article class="dialog-content">
      <aside class="preview-wrapper">
        <ProjectDetailVideo featureVideo={featureVideo} platform={platform} />
      </aside>

      <main class="content-column content-grid">
        <header class="project-header">
          <h1>{title}</h1>
          <p class="project-meta">
            <span>{joinedProjectType}</span>
            <span>&bull;</span>
            <span>{role}</span>
          </p>
          <p class="project-tech">{tech.join(', ')}</p>
        </header>
        <Content />
      </main>
    </article>
  </dialog>
</project-dialog>

<script src="./ProjectDialogElement.ts"></script>
